version: '3'
services:
  influxdb:
    image: tutum/influxdb:0.9
    environment:
      - PRE_CREATE_DB="statusok" 
    ports:
      - 8093:8083 
      - 8096:8086
  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
  statusok:
    image: status-ok-img:0.3
    # build: 
    #   context: .
    #   dockerfile: Dockerfile
    depends_on:
      - influxdb
