apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.22.0 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: statusok
  name: statusok
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: statusok
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.22.0 (HEAD)
      creationTimestamp: null
      labels:
        io.kompose.service: statusok
    spec:
      containers:
        - image: status-ok-img:0.3
          name: statusok
          resources: {}
      restartPolicy: Always
status: {}
